fastapi==0.95.1            # Основной фреймворк
uvicorn==0.21.1            # ASGI-сервер для запуска FastAPI
#asyncpg==0.27.0            # Асинхронный драйвер для PostgreSQL
redis==5.0.0               # Клиент для работы с Redis
pydantic==1.10.2           # Валидация данных и загрузка конфигураций
python-dotenv==1.0.0       # Загрузка переменных окружения из .env файла
passlib[bcrypt]==1.7.4     # Хеширование паролей с bcrypt
pytest==7.2.1              # Фреймворк для тестирования
pytest-asyncio==0.20.3     # Асинхронное тестирование с pytest
